<form action="#" class="contact-form">
                                    <h5 class="title">Book your free consultation today !!</h5>

                                    <div>
                                      <input type="text" class="form-control rounded border-white mb-3 form-input" id="name" placeholder="Name" required>
                                    </div>
                                    <div>
                                      <input type="email" class="form-control rounded border-white mb-3 form-input" placeholder="Email" required>
                                    </div>
                                    <div>
                                        <input type="phone" class="form-control rounded border-white mb-3 form-input" placeholder="Phone" required>
                                      </div>

                                      <div>
                                        <select id="services" name="services" class="form-control rounded border-white mb-3 form-input" required="">
                                            <option value="">Select a Service</option>
                                            <option value="cloud-consulting">Cloud Consulting Services</option>
                                            <option value="cloud-migration">Cloud Migration</option>
                                            <option value="cloud-landing-zone">Cloud Landing Zone Service</option>
                                            <option value="devops-native">DevOps Native</option>
                                            <option value="devops-non-native">DevOps Non Native</option>
                                            <option value="Architecture Services">Architecture Services</option>
                                            <option value="FinOps Services">FinOps Services</option>
                                        </select>
                                      </div>
                                    <div>
                                      <textarea id="message" class="form-control rounded border-white mb-3 form-text-area" rows="5" cols="30" placeholder="Message" required></textarea>
                                    </div>
                                    <div class="submit-button-wrapper">
                                      <input type="submit" value="Submit">
                                    </div>
                                  </form>